.form {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  width: 350px;
  min-height: 410px;
  margin: 0 auto;
  border-radius: 10px;

  input.ng-touched.ng-valid[required], input.ng-touched.ng-valid.required {
    border-bottom: 3px solid #42A948;
  }

  input.ng-touched.ng-invalid:not(form) {
    border-bottom: 3px solid #a94442;
  }
}

.form-row {
  margin: 25px 20px 10px 20px;
}

h2 {
  margin: 20px 0 5px 20px;
  text-align: center;
}

.form-error {
  align-self: center;
  width: 150px;
  font-size: 14px;
  border-radius: 3px;
  padding: 5px;
  background-color: rgba(255, 87, 87, 0.5);
  color: red;
  height: 45px;
}

.mat-input-element {
  width: 150px;
  background: 0 0;
  color: currentColor;
  border: none;
  outline: 0;
  margin: 0 0 0 20px;
  vertical-align: bottom;
  text-align: inherit;
  border-bottom: 1px solid;
  border-bottom-color: rgba(133, 133, 133, 0.6);
  font: inherit;
}

button {
  width: 310px;
  align-self: center;
  margin-bottom: 10px;
  margin-top: 10px;
}


