<div class="form-container">
  <div class="form" [formGroup]="registerForm">
    <h2>Please enter your details:</h2>
    <div class="form-row">
      <div>Name:</div>
      <input matInput formControlName="name" required type="text" (keyup)="getOnlyLetters($event)">
    </div>
    <div class="form-error" *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched">
      Name should be at least 8 characters long
    </div>
    <div class="form-row">
      <div>Login:</div>
      <input matInput formControlName="login" required type="text">
    </div>
    <div class="form-error" *ngIf="registerForm.controls['login'].errors && registerForm.controls['login'].errors.forbiddenLogin &&
    registerForm.controls['login'].touched">
      This login already exists, try another one
    </div>
    <div class="form-error" *ngIf="registerForm.controls['login'].errors && registerForm.controls['login'].errors.minlength &&
    registerForm.controls['login'].touched">
      Login should be at least 6 characters long
    </div>
    <div class="form-row">
      <div>Password:</div>
      <input matInput formControlName="password" type="password" required>
    </div>
    <div class="form-error"
         *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
      Password should be at least 8 characters long
    </div>
    <div class="form-row">
      <div>Email:</div>
      <input matInput formControlName="email" (keyup)="removeCyrillic($event)"
             type="email" required>
    </div>
    <div class="form-error" *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors.pattern &&
    registerForm.controls['email'].touched">
      Please enter a valid email address
    </div>
    <div class="form-error" *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors.forbiddenEmail &&
    registerForm.controls['email'].touched">
      This email already exists, try another one
    </div>
    <div class="form-row">
      <div>Phone number:</div>
      <input matInput formControlName="phoneNumber" type="tel" [required]="true">
    </div>
    <div class="form-error"
         *ngIf="registerForm.controls['phoneNumber'].invalid && registerForm.controls['phoneNumber'].touched">
      Please enter a valid phone number
    </div>
    <button mat-raised-button color="primary" (click)="register()">Submit</button>
  </div>
</div>
