<div class="menu">
  <h2>
    Here is the list of available links:
  </h2>
  <div routerLink="/books">
     - List of Books
  </div>
  <div routerLink="/authors">
    - List of Authors
  </div>
  <div routerLink="user-details">
    - Edit user information
  </div>
</div>
