<div class="form-container">
  <mat-table #table [dataSource]="datasource" class="mat-elevation-z8 table" matSort>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> No.</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="biography">
      <mat-header-cell *matHeaderCellDef> Biography</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.biography}} </mat-cell>
    </ng-container>

<!--    <ng-container matColumnDef="books">-->
<!--      <mat-header-cell *matHeaderCellDef>List Of Books</mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element"> {{element.numberOfPages}} </mat-cell>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="actions">-->
<!--      <mat-header-cell *matHeaderCellDef></mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element" style="display: flex">-->
<!--        <ng-container>-->
<!--          <button mat-raised-button color="primary" (click)="openDialog(element, ModalMode.UPDATE)">-->
<!--            <mat-icon class="edit-button">edit</mat-icon>-->
<!--          </button>-->
<!--          <button mat-raised-button color="warn" (click)="remove(element)">-->
<!--            <mat-icon class="delete-button">delete</mat-icon>-->
<!--          </button>-->
<!--        </ng-container>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="3"
                 [pageSizeOptions]="[3, 5, 7]"
                 class="paginator">
  </mat-paginator>

</div>
