.mat-table {
  overflow: auto;
  width: 800px;
  margin: 0 auto;
}

.table {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

.mat-header-cell {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.mat-cell {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.mat-column-id {
  max-width: 5%;
}

.mat-column-name {
  max-width: 20%;

.mat-header-cell {
  padding-left: 20px;
}
}

.mat-column-biography {
  max-width: 50%;
}

.mat-column-books {
  max-width: 25%;
}

.mat-column-actions {
  max-width: 20%;

button {
  margin: 3px;
}
}

}

.paginator {
  width: 800px;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.add-book {
  text-align: center;
  color: blanchedalmond;
  font-size: 24px;
  margin: 40px auto;
  display: flex;
  width: 600px;

button {
  margin-left: 20px;
  width: 100px;
}
}

