h1 {
  color: blanchedalmond;
}

.header-wrapper {
  text-align: center;
  display: flex;

  h1 {
    margin: 0 auto;
  }

  button {
    height: 40px;
    margin-top: 20px;
  }

  .login-button {
    margin-right: 60px;
  }

  .back-button {
    margin-left: 60px;
  }
}

img {
  width: 70px;
  height: 70px;
  animation: rotate-logo 5s linear infinite;
}

@keyframes rotate-logo {
  0% {
  }
  15% {
    opacity: 0.9
  }
  30% {
    opacity: 0.7;
  }
  45% {
    opacity: 0.5
  }
  65% {
    opacity: 0.3
  }
  80% {
    opacity: 0.2
  }
  100% {
    opacity: 0.1
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  text-align: center;
  display: flex;

  .name-tag {
    margin-right: 20px;
  }

  .location {
    margin-left: 20px;
  }

  a {
    font-weight: 800;
    cursor: pointer;
    color: tomato;
  }

}

@media only screen and (max-width: 600px) {
  button {
    font-size: 11px;
    padding: 0;
  }
  .footer {
    font-size: 14px;
  }
}

@media only screen and (min-width: 601px) {
  button {
    font-size: 14px;
    padding: 5px;
  }
  .footer {
    font-size: 18px;
  }
}

