<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <div class="header-wrapper">
    <button class="back-button" mat-raised-button color="primary" routerLink="/" [disabled]="isLoggedOut()">Main Page
    </button>
    <h1>
      <!--      <img src="../assets/logo.png" alt="logo">-->
      Welcome to {{ title }}!
    </h1>
    <button class="login-button" mat-raised-button color="accent" (click)="logout()" [disabled]="isLoggedOut()">Log
      Out
    </button>
  </div>
  <router-outlet></router-outlet>
  <div class="footer">
    <span class="location">You can find us here:  <a (click)="openMap()">  map</a></span>
    <span class="name-tag">Simple Library 2020</span>
  </div>

</div>


