<div class="registration-note" *ngIf="registerNote">
  Thank you for registering on our website.
  From now on you will receive all the updates
  on the latest news about our library on your email.
  <br>
  Please login with your new credentials:
</div>
<div class="form-container">
  <div class="form" [formGroup]="loginForm">
    <h2>Please sign in:</h2>
    <div class="form-row">
      <div>Login:</div>
      <input matInput formControlName="login" required type="text">
    </div>
    <div class="form-row">
      <div>Password:</div>
      <input (keyup.enter)="login()" matInput formControlName="password" type="password" required>
    </div>
    <button mat-raised-button color="primary" (click)="login()">Submit</button>
    <button mat-raised-button color="warn" routerLink="/register">Sign Up</button>
  </div>
</div>
