.form {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  width: 350px;
  height: 310px;
  margin: 0 auto;
  border-radius: 10px;
}

.form-row {
  margin: 20px;
}

button {
  margin: 15px;
  .mat-raised-button.mat-primary {
    color: greenyellow !important;
  }
}

h2 {
  margin: 20px 0 5px 20px;
  text-align: center;
}

.mat-input-element {
  width: 150px;
  background: 0 0;
  color: currentColor;
  border: none;
  outline: 0;
  margin: 0 0 0 20px;
  vertical-align: bottom;
  text-align: inherit;
  border-bottom: 1px solid;
  border-bottom-color: rgba(133, 133, 133, 0.6);
  font: inherit;
}

.registration-note {
  font-size: 18px;
  margin: 20px auto;
  padding: 10px;
  width: 350px;
  height: 130px;
  animation: appear 3s linear;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

@keyframes appear {
  0%   {opacity: 0}
  15%  {opacity: 0.1}
  30%  {opacity: 0.2}
  45%  {opacity: 0.3}
  65% {opacity: 0.4}
  80% {opacity: 0.6}
  100% {opacity: 0.8}
}


