.menu {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
  width: 400px;
  height: 440px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;

  h2 {
    margin: 10px 0 5px 10px;
    text-align: center;
  }

  .form-row {
    margin: 10px 0;
  }

  .form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  button {
    margin-top: 20px;
  }

  .mat-input-element {
    width: 150px;
    background: 0 0;
    color: currentColor;
    border: none;
    outline: 0;
    margin: 0 0 0 20px;
    vertical-align: bottom;
    text-align: inherit;
    border-bottom: 1px solid;
    border-bottom-color: rgba(133, 133, 133, 0.6);
    font: inherit;
  }

  .photo {
    display: flex;

    button {
      margin-left: 20px;
    }
  }

  .image {
    //background-size: cover;
    //background-repeat: no-repeat;
    //background-position: center;
    border-radius: 10px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
  }
}
